table {
    width: 40%;
    border-collapse: collapse;
}
td, th {
    padding: 3px;
}
th {
    color: black; 
}
.firstStr:hover{
    color: yellow;
}
.secondStr:hover {
    background: yellow;
    color: black;
}

table::before{
    content: "Задание№2";
    text-indent: -25px;
    margin: 22px;
    position: absolute;
    top: 0px;
    font-size:large;
    font-weight: bold;
}

body{
    background-color: darksalmon;
}