p{
    text-align: justify;
    width: 370px;
    font-size: large;
}

.firststr{
    font-size:xx-large;
    font-weight: bold;
    color:green;
    line-height: 0px;
}

.secondstr{    
    font-weight: bold;
    font-size: x-large;
    color:Olive;
    line-height: 10px;
}

a{
    font-size:small;
}

body{
    background-image: url(grid_noise.png);
}