/* p{
    color:red;
    text-align:justify;
    font-style: italic;
    font-size: 15px;
    font-family:Arial;
    line-height: 30px;
}
*/
.firstabzac{
    font-style: normal;
}

.secondabzac{
    text-align: center;
    text-indent: 0px;
} 

p{
    font-style: italic;
    font-size: 16px;
    font-weight:bold;
    font-family:Arial;
    line-height: 30px;
    text-indent: 30px;
}

h1{
    color:green;
    text-align: center;
    font-weight: normal;
    font-size: 20px;
    font-family: Verdana;

}

h2{
    color:blue;
    width: 300px;
    text-align: right;
    font-style: italic;
    font-size: 20px;
    font-family: 'Times New Roman';
}

h3{
    color:orange;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table{
    width: 400px;
    height: 200px;
    vertical-align:top;
}

th{
    text-align: left;
    vertical-align: middle;
}

td{
    text-align: center;
    font-weight: bold;
}

th,h1,h2{
    font-weight: normal;
}