ol{
    list-style-type: "Абзац № ";
    counter-reset:item;
}

li::before{
    content: counter(item)'. ';
    counter-increment: item;
}

li{
    list-style-position: inside;
}

body{
    position: absolute;
    width: 23%;
    left: 35%;
    text-align: justify;
}